[credential]
	helper = osxkeychain
[user]
	name = David Ganey
	email = david.ganey@redfin.com
[alias]
	co = checkout
	st = status
	hist=log --pretty=format:\"%Cred%h %Cgreen%cd%Creset %s %C(bold blue)[%an]%C(yellow)%d%Creset\" --graph --color --date=short
	aliases=!git config -l | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\= \\2/'
	ac = git add --all && git commit
	marge = merge
	cp = cherry-pick
	po = push origin HEAD
	branth = branch
	dsf = "!git diff --color $@ | diff-so-fancy"
	cohack = checkout hackathon_summer_2017_o
	git = !exec git
	stache = stash
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[diff]
	tool = bc3
[difftool "diffmerge"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
[core]
	edtor = subl -n -w
[push]
	default = simple
[mergetool]
	keepBackup = false
